language: python

python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6

env:
  - DJANGO='Django>=1.8,<1.9'
  - DJANGO='Django>=1.9,<1.10'
  - DJANGO='Django>=1.10,<1.11'
  - DJANGO='Django>=1.11,<2.0'

install:
  - pip install $DJANGO
  - pip install coverage coveralls

script: coverage run setup.py test

matrix:
  exclude:
    - python: 3.6
      env: DJANGO='Django>=1.8,<1.9'
    - python: 3.6
      env: DJANGO='Django>=1.9,<1.10'
    - python: 3.6
      env: DJANGO='Django>=1.10,<1.11'

after_success: coveralls
