language: python

python:
  - 2.7
  - 3.4

env:
  - DJANGO='Django>=1.3,<1.4'
  - DJANGO='Django>=1.4,<1.5'
  - DJANGO='Django>=1.5,<1.6'
  - DJANGO='Django>=1.6,<1.7'
#  - DJANGO='Django>=1.7,<1.8'
#  - DJANGO='https://github.com/django/django/tarball/stable/1.8.x'

install:
  - pip install --use-mirrors $DJANGO
  - pip install --use-mirrors coverage coveralls

script: coverage run setup.py test

after_success: coveralls

matrix:
  exclude:
   - python: 3.4
     env: DJANGO='Django>=1.3,<1.4'
   - python: 3.4
     env: DJANGO='Django>=1.4,<1.5'
